@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import './header.css';
@import './main.css';
@import './footer.css';

/* ------------------------------------------------ */
/*Estilo Global */
/* ------------------------------------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Golos Text", sans-serif;
    scroll-behavior: smooth;
    /* border: solid red 1px; */
}

/* ------------------------------------------------ */
/*Responsive */
/* ------------------------------------------------ */
@media (max-width:425px) {

    /* .item-logo{
        background-color: blue;
    } */


    /* .header {
        height: 10%;
    }

    .logomarca {
        width: 70%;
    }

    .itens-menu :where(#logoInstagram){
        display: none;
    }

    .title-product{
        font-size: 1.5rem;
    }

    .title-background{
        font-size: 2%;
    };

    .container-product {
        background-image: url('../img/imageproduct.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        display: inline-block;
        margin: 10% 0 0;
    } */
}

@media (max-width:375px) {

    /* .item-logo{
        background-color:red;
    }

    .header {
        height: 10%;
    }

    .logomarca {
        width: 100%;
    }

    .itens-menu :where(#logoInstagram){
        display: none;
    }
    
    .title-product{
        font-size: 1.5rem;
    }

    .title-background{
        font-size: 2%;
    };

    .container-product {
        background-image: url('../img/imageproduct.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        display: inline-block;
        margin: 10% 0 0;
    } */
}
