@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

* {
    margin: 0;
    padding: 0;
    color: #dcdcdc;
    font-family: "Golos Text", sans-serif;
    /* border: solid red 1px; */
}


.container-menu {
    display: flex;
    justify-content: flex-end;
}

#img1 {
    height: 65rem;
    width: 150rem;
}

#img2 {
    height: 65rem;
    width: 150rem;
}

#img3 {
    height: 65rem;
    width: 150rem;
}


.menu {
    font-size: 1.5rem;
}


.menu ul {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    list-style-type: none;
}


.menu li {
    padding: 2%;
}


.menu a {
    text-decoration: none;
    color: #dcdcdc;
}


.logomarca-index img {
    width: 10%;
    height: auto;
    position: absolute;
    left: 3%;
    top: 1%;
}


.carousel-caption {
    font-size: larger;
    margin-left: 0;
}


/* Main Index Styles */

.container-card {
    font-size: 0;
    gap: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 2%;
}

.card-body {
    width: 95%;
    height: 65%;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}


.botton {
    color: #FFFDFD;
    text-decoration: none;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #21909E;
    padding: 3% 5% 3% 5%;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    border: none;
    margin: 0;
    overflow: hidden;
}

.botton:hover {
    opacity: 0.7;
    text-decoration: underline white;
}


/* Footer Index Styles */

footer {
    background-color: #B4BABD;
    height: 220px;
}


.container-footer {
    display: flex;
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.paragraph-footer {
    margin: 0% 2% 0% 2%;
    font-size: 120%;
    color: #FFFDFD;
}

.container-text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.text-footer {
    color: #21909E;
    font-size: medium;
    text-align: center;
}



.container-image {
    display: inline;
}



/* Main about Styles */

.container-about {
    margin: 5% 2% 5% 2%;
    /* background-color: blue; */
}

.title-about {
    color: #21909E;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0% 0% 3%;
}

.paragraph-about {
    color: #21909E;
    font-size: 1.5rem;
    text-align: justify;
    margin: 1% 0;
}

#image-about {
    height: 350px;
    width: 650px;
    float: right;
    margin: 1% 6%;
}


.header-index {
    background-color: #00A5C5;
    overflow: hidden;
    width: 100%;
    height: 30%;
}

.header-all {
    background-color: #21909E;
    overflow: hidden;
    width: 100%;
    height: 20%;
}

.logomarca-all img {
    max-height: 90%;
    max-width: 13%;
    display: inline-block;
    left: 3%;
    top: 3%;
}

/* Página de Cadastro */

.container-body {
    color: black;
    text-align: center;
    margin: 3% 0 3%;
}

.container-title {
    color: #00A5C5;
    margin: 4% 0% 4%;
    text-align: center;
}

.costomization-button {
    color: #00A5C5;
    height: 20px;
    display: inline;
}

.container-forms {
    height: 25%;
    width: 100%;
    display: inline-block;
}

.container-input {
    height: 35px;
    border-radius: 9%;
}

.container-product {
    background-image: url('../img/imageproduct.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    display: inline-block;
}

.container-store {
    background-image: url('../img/imagestore.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    display: inline-block;
}

.title-background {
    font-size: 3rem;
    margin: 6% 0% 0% 5%;
}

.container-image-main {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcard2 {
    width: 40%;
}


.title-menu {
    color: #21909E;
    font-size: 2rem;
    margin-left: 3%;
}


.menu-produtos {
    display: flex;
    padding: 20px;
    list-style-type: none;
}

.menu-produtos li {
    margin: 1% 0% 3% 10%;
    height: 200px;
    width: 200px;
    border: #21909E solid 1px;
}

.imgcard {
    height: 200px;
    width: 200px;
}

.title-product {
    color: #21909E;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 5%;
}



.menu-preco {
    display: flex;
    padding: 20px;
    list-style-type: none;
}

.menu-preco li {
    margin-left: 10%;
    height: 2%;
    width: 2%;
    align-items: end;
}

.botton-preco {
    background-color: #21909E;
    color: #FFFDFD;
    border: none;
    overflow: hidden;
    padding: 5%;
    margin-top: 10%;
}

.container-button {
    display: flex;
    justify-content: flex-end;
}

.container-delivery {
    background-color: #21909E;
    display: flex;
    justify-content: center;
}

.title-delivery {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 3%;
    color: #FFFDFD;
}

.sub-title-delivery {
    display: block;
    color: #FFFDFD;
}