@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

* {
    margin: 0;
    padding: 0;
    color: #dcdcdc;
    font-family: "Golos Text", sans-serif;
    /* border: solid red 1px; */
}


header {
    display: flex;
    /* padding-right: 10%; */
    justify-content: flex-end;    
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #00A5C5; */
    margin: 5% 0% 5%;
}




.menu {
    font-size: 1.5rem;
}


.menu ul {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    list-style-type: none;
}


.menu li {
    padding: 2%;
}


.menu a {
    text-decoration: none;
    color: #dcdcdc;
}


.header-index {
    background-color: #00A5C5;
    /* background-image: url("../img/backgroundimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    overflow: hidden;
    width: 100%;
    height: 30%;
    /* height: 67vw; */
}


.logomarca-index img {
    z-index: 1;
    width: 7%;
    height: auto;
    position: absolute;
    left: 3%;
    top: 1%;
}


.text-header {
    position: absolute;
    top: 80%;
    left: 1%;
    right: 1%;
    text-align: center;
}


.text-header h1 {
    margin-bottom: 1%;
    font-size: 2.7rem;
}


.text-header p {
    font-size: 1.2rem;
    font-weight: bold;
}


/* Main Index Styles */

.container-card {
    /* background-color: orange; */
    height: 100%;
    width: 45%;
    font-size: 0;
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: 95%;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}


.botton {
    color: #FFFDFD;
    text-decoration: none;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #21909E;
    padding: 3% 5% 3% 5%;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    border: none;
    margin: 0;
    overflow: hidden;
}

.botton:hover {
    opacity: 0.7;
    text-decoration: underline white;
}


/* Footer Index Styles */

footer {
    background-color: #B4BABD;
    /* display: block;
    height: 25%;
    width: 100%;
    color: #FFFDFD;
    position: relative; */
}



.container-footer {
    display: flex;
}



.container-image {
    display: inline;
}



/* Main about Styles */
.container-about-main {
    overflow: auto;
}


.container-about-main h1 {
    color: #21909E;
    text-align: center;
    font-size: 4rem;
    margin: 4% 0% 4% 0%;
}


.container-about-main p {
    color: #21909E;
    text-align: left;
}

.container-about-main img {
    height: 35rem;
    float: right;
    margin-right: 10%;
}

.header-all {
    background-color: #21909E;
    display: inline-block;
    width: 100%;
    height: 25%;
    /* justify-content: space-between;
    align-items: center; */
}

.logomarca-all img {
    max-height: 90%;
    max-width: 13%;
    display: inline-block;
    left: 3%;
    top: 3%;
}